/* Main Grid Layout */
#grid {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content min-content min-content min-content;
}

/* Navigation Styling */
nav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 6;

  min-width: 80px;
  background: gray;
}
#sidenav {
  list-style-type: none;
  padding: 23px;
  bottom: 0;
  position: fixed;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
}
li {
  padding-top: 30px;

}
li a {
  text-decoration: none;
  color: black;
  font-size: 36px;

}
#contact {
  position: absolute;
  bottom: 10%;
}
#projects {
  position: absolute;
  bottom: 20%;
}
#about {
  position: absolute;
  bottom: 30%;
}

/* Header */
#name {
  text-align: right;
  margin-right: 1em;
  padding-top: 1em;
  font-size: 40px;
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;

}
#subheading {
  text-align: right;
  margin-right: 3.5em;
  font-size: 12px;
  font-family: 'Syncopate', sans-serif;
}

/* Main */
main {
  margin-top: 5vh;
  height: 100vh;
  position: relative;
}

#backgroundimg {
  position: absolute;
  border: 2px groove black;
  width: 80%;
  left: 10%;
  height: 78vh;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTk-UKTzCGiM6xXz0RN8rpFA4qN1qPME2Maaw&usqp=CAU);
}


/* ABOUT */
/* About Parent Grid */
#aboutsection {
  height: 100vh;
  background: green;
}

/* About Component */
#aboutcomponent {
  display: flex;
  justify-content: center;
  margin-top: 13%;
}

#skillslist {
  list-style-type: none;
  font-size: 24px;
  margin-right: 30px;
  padding-top: 56px;
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
}

#skillslist > li {
  padding: 0;
  text-align: right;
}

#description {
  padding-top: 80px;
  padding-left: 20px;
  height: 440px;
  width: 300px;
  border-left: 1px solid black;
  font-size: 24px;
  font-family: 'Syncopate', sans-serif;
}

/* PROJECT */
#projectsection {
  height: 100vh;
  background: brown;
}

/* Project Grid */
#accordionExample {
margin-top: 15%;
display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr;
font-family: 'Syncopate', sans-serif;
}

/* Project Titles */
#row1 > a, #row2 > a, #row3 > a, #row4 > a {
  margin: 0;
  font-weight: 700;
}

#row1 {
  grid-area: 1 / 1 / 2 / 2;
}

#row2 {
  grid-area: 2 / 1 / 3 / 2;
}

#row3 {
  grid-area: 3 / 1 / 4 / 2;
}

#row4 {
  grid-area: 4 / 1 / 5 / 2;
}

/* Description Cards */
#id1, #id2, #id3, #id4 {
  border: 2px solid black;
  grid-area: 1 / 2 / 5 / 3;
}

#projectcards {
  border: 2px solid black;
  height: 90%;
}

#button {
  background-color: white;
  border: 1px solid black;
  width: 400px;
  border-radius: 0px;
}

/* CONTACT */
#contactsection {
  height: 100vh;


}

#contactcontainer {
  bottom: 0;
  text-align: center;
  margin-top: 15%;

}

#contactheader {
  margin-bottom: 3rem;
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  color: black;

}

#email {
  margin-top: 180px;
  font-family: 'Syncopate', sans-serif;
  font-size: 20px;
  color: black;

}

#socials {
  display: flex;
  justify-content: center;
  padding: 0;
}

#socials > li {
  list-style-type: none;
  padding: 20px;
  color: black;

}

#copyright {
  padding-top: 50px;
  padding-bottom: 0;
  font-family: 'Syncopate', sans-serif;
  font-size: 12px;
  color: black;

}

#contactbtn {
  margin-top: 10px;
  font-size: 60px;
  padding: 0;
  color: black;
}