/* Mobile 320px */

#grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
    height: 100vh;
  }
  
  /* Navigation Styling */
  #navsection {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 10vh;


  }
  
  ul { 
    list-style-type: none;
    padding-top: 1em;
  }

  li a {
    text-decoration: none;
    color: black;
    font-weight: 900;
  }

  #chrisnav, #subheader {
    font-family: 'Syncopate', sans-serif;
    font-size: .6rem;
  }

/* Horiontal scroll wrapping */
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.scrolling-wrapper > section {
  flex: 0 0 auto;
}

/* Main styling */
#mainsection {
  height: 80vh;

}

main {
  padding-left: 2em;
}

main > h1 {
  font-size: 3em;
  padding-top: 1em;
  font-family: 'Syncopate', sans-serif;
  width: 6em;
}

/* Project styling */
#projectsection {
  height: 80vh;

  width: 500vw;
}

#projectcontainer > .card {
  height: 30vh;
  width: 90vw;
}

#id1, #id3 {
  margin-top: 6em;
}

#id2, #id4 {
  margin-top: 12em;
}

#id1 > card, #id2 > card, #id3 > card, #id4 > card {
  margin-top: 25%;
  text-align: center;
  font-family: 'Syncopate', sans-serif;
  font-size: .8em;
}

/* Footer */
#footersection {
  height: 10vh;


}

#footerdiv {
  display: flex;
  justify-content: space-between;
}

#footerdiv > ul > li {
  font-size: .5em;
  font-family: 'Syncopate', sans-serif;
}

#left {
  padding-left: 1em;
}

#right {
  padding-right: 1em;
  text-align: right;
}
